.container{
    background-color: aqua;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    display: grid; /*habilita grid*/
    grid-gap: 10px;/*interlineado/espacio ente las celdas*/
    /*grid-template-columns: 100px 100px 200px;/*permite definir la cantidad de columnas, la dimension
    cuanto quieres que ocupe cada columna*/
    /*grid-template-rows: 100px 100px 50px; /*permite definir la cantidad de filas, la dimension
    cuanto quieres que ocupe cada fila*/
    /*grid-template-columns: 15% 50% 25%;
    grid-template-rows: 20% 70% 10%;*/
    /*grid-template-columns: 1fr 8fr 1fr 2fr 1fr;/*fr->fraccion*/
   /* grid-template-rows: 1fr 5fr 2fr ;*/
   grid-template-columns: repeat(3,1fr) 3fr ;
   grid-template-rows: repeat(5,3fr);
}
.container>div{
    background-color: chartreuse;
    
}
.container .cabecera{/*son container */
    background-color: yellow;
    grid-column: 1/5;/*empieza enla barra 1 y termina en la barra 5*/
    grid-row: 1/3;
}
.container .menu{
    background-color: orange;
    grid-column: 1/5;
    grid-row: 3/4;
}
.container .contenido{
    background-color: azure;
    grid-column: 1/4;
    grid-row: 4/8 ;
}
.container .publi{
    background-color: bisque;
    grid-column: 4/5;
    grid-row: 4/8;
}
.container .pie{
    background-color: coral;
    grid-column: 1/5;
    grid-row: 8/9;
}
